<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personal Info</title>
  </head>
  <body>
  	<h1>My Personal Information</h1>
    <p>I'm <%= name %>!</p>
    <p>I'm <%= age %> years old.</p>
    <p>I'm studying <%= course %>.</p>
  </body>
</html>
